<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <title>Forexify</title>
</head>

<body>
  <div id="app">
    <header class="bg-white shadow">
      <div class="container mx-auto flex items-center justify-center h-16">
        <img src="/ui/images/logo.svg" alt="Forexify" class="w-40">
      </div>
    </header>

    <main class="container space-y-10">

      <section id="news-sentiment-section">
        <h3 class="text-3xl text-primary font-semibold text-center mb-6">News Sentiment Analysis Results</h3>

        <div v-if="!newsSentiment" class="w-full flex items-center justify-center">
          <iframe title="loading" src="https://embed.lottiefiles.com/animation/99297"></iframe>
        </div>

        <div v-else class="w-1/2 h-1/2 mx-auto overflow-hidden">
          <canvas id="news-sentiment-chart" height="400"></canvas>
        </div>
      </section>

      <section id="synthetic-data-section">
        <h3 class="text-3xl text-primary font-semibold text-center mb-6">Synthetic Data</h3>

        <div v-if="!syntheticData" class="w-full flex items-center justify-center">
          <iframe title="loading" src="https://embed.lottiefiles.com/animation/99297"></iframe>
        </div>

        <div v-else class="w-1/2 h-1/2 mx-auto overflow-hidden">
          <canvas id="synthetic-data-chart" height="400"></canvas>
        </div>
      </section>

      <section id="forex-data-section">
        <h3 class="text-3xl text-primary font-semibold text-center mb-6">Forex Data</h3>

        <div id="forex-data-charts" class="flex flex-col space-y-6"></div>
      </section>


    </main>
  </div>

  <!-- TailwindCSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        container: {
          center: true,
          padding: {
            DEFAULT: '0.25rem',
            sm: '0.5rem',
            md: '0.75rem',
            lg: '1.25rem',
            xl: '1.5rem',
            '2xl': '1.75rem',
          },
        },
        extend: {
          colors: {
            primary: '#1A5276',
            secondary: '#F7DC6F',
            accent: '#E74C3C'
          },
          fontFamily: {
            'sans': ['Oswald'],
          },
        }
      }
    }
  </script>
  <!-- Moment JS CDN -->
  <script src="
  https://cdn.jsdelivr.net/npm/moment/moment.min.js
  "></script>
  <!-- Axios CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
    integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- ChartJS CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- ChartJS Moment Adapter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js"
    integrity="sha512-hVy4KxCKgnXi2ok7rlnlPma4JHXI1VPQeempoaclV1GwRHrDeaiuS1pI6DVldaj5oh6Opy2XJ2CTljQLPkaMrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Vue.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  <!-- Custom Scripts -->
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          connection: new WebSocket('wss://dg4cdrin6g.execute-api.us-east-1.amazonaws.com/prod'), // websocket url
          forexData: [], // forex data array
          newsSentiment: [], // news sentiment array
          syntheticData: []
        }
      },
      async created() {
        // add handler for the open event
        this.connection.addEventListener('open', (event) => {
          console.log('WebSocket connection opened');

          // request latest news sentiment data
          this.connection.send(JSON.stringify({
            action: 'getNewsSentiment'
          }))

          // request latest numerical / forex data
          this.connection.send(JSON.stringify({
            action: 'getForexData'
          }))

          console.log('Getting latest data')
        });

        // add handler for the message event
        this.connection.addEventListener('message', (event) => {
          console.log('WebSocket message received');

          const data = JSON.parse(event.data)

          switch (data.type) {
            case 'ForexData':
              this.forexData = new Set([...this.forexData, ...data.message])

              this.renderForexDataChart()
              break
            case 'NewsSentimentData':
              this.newsSentiment = new Set([...this.newsSentiment, ...data.message])

              this.renderNewsSentimentChart()
              break
            default:
              break
          }
        });

        // add handler for the close event
        this.connection.addEventListener('close', (event) => {
          console.log('WebSocket connection closed');

          // The WebSocket connection has been closed, it is safe to close the tab
          window.close()
        });

        // add handler for the error event
        this.connection.addEventListener('error', (event) => {
          console.error('WebSocket error:', event);
        });

        // Add an event listener for the beforeunload event
        /* window.addEventListener('beforeunload', (event) => {
          // Prompt the user to confirm the close
          event.preventDefault();
          event.returnValue = '';

          // Close the WebSocket connection and wait for it to close before closing the tab
          if (this.connection.readyState === WebSocket.OPEN) {
            this.connection.close();

            // Return false to prevent the browser from closing the tab immediately
            return false;
          }
        }); **/

        // get synthetic data and render it to page
        const response = await fetch('/ui/synthetic-test-data.json')
        this.syntheticData = await response.json()

        this.renderSyntheticDataChart()
      },


      methods: {
        // render chart for forex / numerical data
        renderForexDataChart() {
          // get parent element to add forex charts to
          let parentElem = document.getElementById('forex-data-charts')

          const timestamps = []
          const datasets = [];
          const data = []

          this.forexData.forEach((item) => {
            const date = moment.unix(item.timestamp).format("hh:mm")

            // checks if timestamp/date already exist in timestamps
            if (!timestamps.includes(date)) {
              timestamps.push(date)
            }

            // get date index to add corresponding value for symbol
            const dateIndex = timestamps.indexOf(date)

            // checks if a dataset exists for a symbol [USDJPY, USDSGD, USDCAD, USDCHF, USDMXN]
            let dataset = datasets.find(dataset_item => dataset_item.label === item.symbol)

            // create new dataset for symbol if it doesn't exist
            if (!dataset) {
              dataset = {
                label: item.symbol,
                backgroundColor: item.symbol === 'USDJPY' ? 'rgb(255, 0, 0)' :
                  item.symbol === 'USDSGD' ? 'rgb(0, 255, 0)' :
                    item.symbol === 'USDCAD' ? 'rgb(0, 0, 255)' :
                      item.symbol === 'USDCHF' ? 'rgb(255, 255, 0)' :
                        item.symbol === 'USDMXN' ? 'rgb(255, 0, 255)' :
                          'rgb(128, 128, 128)',
                data: []
              }
            }

            // add value to dataset
            dataset['data'][dateIndex] = item.open

            datasets.push(dataset)
          })

          const uniqueDatasets = new Set(datasets)

          uniqueDatasets.forEach(dataset => data.push(dataset))

          // sort timestamps in ascending order
          timestamps.sort((a, b) => new Date(a) - new Date(b));

          // plot data on different charts per symbol
          data.forEach(datum => {
            // create div element
            const divElement = document.createElement("div")

            divElement.className = "w-1/2 h-1/2 mx-auto overflow-hidden"

            // Create a new canvas element
            const canvasElem = document.createElement("canvas");

            // Set the attributes for the canvas element
            canvasElem.className = "w-full";
            canvasElem.height = "400";


            new Chart(canvasElem, {
              type: 'line',
              data: {
                labels: timestamps,
                datasets: [datum],
              },
              xAxisID: 'Values',
              yAxisID: 'Dates',
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: `Forex Data for ${datum.label}`
                  }
                },
                scales: {
                  x: {
                    grid: {
                      display: false
                    },
                    title: {
                      display: true,
                      text: "Timestamps (HH:MM)",
                      color: "red",
                      font: {
                        size: 16,
                        weight: "normal"
                      }
                    }
                  },
                  y: {
                    grid: {
                      color: "#ccc",
                      borderDash: [20, 4],
                      borderColor: "black",
                      tickColor: "black"
                    },
                    title: {
                      display: true,
                      text: "Open Price Values",
                      color: "green",
                      font: {
                        size: 16,
                        weight: "normal"
                      }
                    }
                  }
                }
              }
            })

            // append canvas to div to modify size
            divElement.appendChild(canvasElem)

            // append div to parent element to display on website
            parentElem.appendChild(divElement)
          })
        },

        // render chart for news sentiments
        renderNewsSentimentChart() {
          const ctx = document.getElementById('news-sentiment-chart')

          const timestamps = []
          const datasets = [];
          const data = []

          this.newsSentiment.forEach((item) => {
            const date = moment.unix(item.timestamp).format("MM/DD/YYYY")

            // checks if timestamp/date already exist in timestamps
            if (!timestamps.includes(date)) {
              timestamps.push(date)
            }

            // get date index to add corresponding value for symbol
            const dateIndex = timestamps.indexOf(date)

            // checks if a dataset exists for a symbol [ETH, BTC, ADA, XRP, BNB]
            let dataset = datasets.find(dataset_item => dataset_item.label === item.symbol)

            // create new dataset for symbol if it doesn't exist
            if (!dataset) {
              dataset = {
                label: item.symbol,
                backgroundColor: item.symbol === 'CAD' ? 'rgb(255, 0, 0)' :
                  item.symbol === 'USD' ? 'rgb(0, 255, 0)' :
                    item.symbol === 'GBP' ? 'rgb(0, 0, 255)' :
                      item.symbol === 'EUR' ? 'rgb(255, 255, 0)' :
                        item.symbol === 'CNY' ? 'rgb(255, 0, 255)' :
                          'rgb(128, 128, 128)',
                data: []
              }
            }

            // add sentiment data based on sentiment to symbols dataset
            switch (item.sentiment) {
              case 'NEUTRAL':
                dataset['data'][dateIndex] = item.neutral
                break
              case 'POSITIVE':
                dataset['data'][dateIndex] = item.positive
                break
              case 'NEGATIVE':
                dataset['data'][dateIndex] = item.negative
                break
              default:
                break
            }

            datasets.push(dataset)
          })

          const uniqueDatasets = new Set(datasets)

          uniqueDatasets.forEach(dataset => data.push(dataset))

          // sort timestamps in ascending order
          timestamps.sort((a, b) => new Date(a) - new Date(b));

          // plot data on chart
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: timestamps,
              datasets: data,
            },
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'News Sentiment Analysis Results'
                }
              },
              scales: {
                x: {
                  type: 'time',
                  time: {
                    displayFormats: {
                      quarter: 'MMM YYYY'
                    }
                  },
                  grid: {
                    display: false
                  },
                  title: {
                    display: true,
                    text: "Timestamps (MM/DD/YYYY)",
                    color: "red",
                    font: {
                      size: 16,
                      weight: "normal"
                    }
                  }
                },
                y: {
                  grid: {
                    color: "#ccc",
                    borderDash: [20, 4],
                    borderColor: "black",
                    tickColor: "black"
                  },
                  title: {
                    display: true,
                    text: "Sentiment Values",
                    color: "green",
                    font: {
                      size: 16,
                      weight: "normal"
                    }
                  }
                }
              }
            }
          })
        },

        // render chart for synthetic data
        renderSyntheticDataChart() {
          const ctx = document.getElementById('synthetic-data-chart')

          // format start time using moment
          const startTime = moment(this.syntheticData.start, "YYYY-MM-DD HH:mm:ss");

          const data = {
            labels: this.syntheticData.target.map((item, i) => startTime.clone().add(i, "hours").format("YYYY-MM-DD HH:mm:ss")),
            datasets: [{
              label: "Value",
              data: this.syntheticData.target.map((item, i) => item),
              fill: false,
              borderColor: "rgb(255, 0, 0)",
              tension: 0.1
            }]
          };

          const config = {
            type: "line",
            data: data,
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Synthetic Data for Student with ID: M00904768'
                }
              },
              scales: {
                x: {
                  type: 'time',
                  time: {
                    unit: 'hour',
                  },
                  title: {
                    display: true,
                    text: "Timestamps (HH)",
                    color: "red",
                    font: {
                      size: 16,
                      weight: "normal"
                    }
                  }
                },
                y: {
                  title: {
                    display: true,
                    text: "Values",
                    color: "green",
                    font: {
                      size: 16,
                      weight: "normal"
                    }
                  }
                }
              }
            }
          }

          new Chart(ctx, config);
        }
      }
    })
  </script>
</body>

</html>